# =====================
# ENVIRONMENT VARIABLES
# =====================

.env
.env.*
*.env


# =====================
# PYTHON
# =====================

__pycache__/
*.py[cod]
*$py.class


# =====================
# VIRTUAL ENV
# =====================

venv/
env/
ENV/


# =====================
# DJANGO
# =====================

db.sqlite3
*.log

staticfiles/
media/


# =====================
# MIGRATIONS CACHE
# =====================

*.pyc


# =====================
# IDE
# =====================

.vscode/
.idea/


# =====================
# OS FILES
# =====================

.DS_Store
Thumbs.db


# =====================
# TEST
# =====================

.coverage
htmlcov/
.pytest_cache/


# =====================
# BUILD
# =====================

dist/
build/
*.egg-info/